html {
    font-family: sans-serif;
  }
  
  .wrapper,
   .flex {
   display: flex;
  }
  
  nav {
    flex: 0 0 300px;
    background: #ccc;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    padding: 0;
    margin: 0;
  
  }
  
  nav ul li span,
  nav ul li button {
    display: block;
    padding: 1em;
    text-align: center;
  }
  
  nav ul li button {
    width: 100%;
    margin: 0 auto;
  }
  button {
      border: 2 px solid #0704ac;
      color: #0414fc;
      background: #cf97b1;
      text-decoration: underline;
      border-radius: 20px;
      box-shadow: 20px 10px 10px #000000;
      }